<div ng-controller="EventCtrl">

  <div class="tabsdemoDynamicHeight">
    <md-content class="md-padding">
      <md-tabs md-dynamic-height="" md-border-bottom="">
        <md-tab label="CREATE EVENT">
        <p>To create an event fill the form below and CLICK on SUBMIT</p>
          <md-content class="md-padding" layout layout-align='center center'>
            <md-card flex='40'>
            <div layout="column" class="inputdemoIcons">
              <md-content layout-padding="" class="autoScroll">
                <md-input-container>
                  <md-icon md-svg-icon="" class="name"></md-icon>
                    <input ng-model="event.title" type="text" placeholder="Event Name/Title" required>
                </md-input-container>
                <md-input-container>
                  <md-icon md-svg-icon="" class="name"></md-icon>
                  <textarea ng-model="event.description" type="text" placeholder="What is the Event about"required></textarea>
                </md-input-container>
                <md-input-container>
                  <md-icon md-svg-src="" ></md-icon>
                  <md-select name="categories" placeholder="Please select a category" ng-model="event.category" required>
                    <md-option value="Party">Party</md-option>
                    <md-option value="Conference">Conference</md-option>
                    <md-option value="Sports">Sports</md-option>
                    <md-option value="Religious">Religious</md-option>
                    <md-option value="SummerVacation">Summer Vacation</md-option>
                    <md-option value="Camping">Camping</md-option>
                    <md-option value="Reunion">Reunion</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <md-icon md-svg-src=""></md-icon>
                  <input ng-model="event.location" type="text" placeholder="Event Location" required>
                </md-input-container>
                <md-input-container md-no-float="" layout>
                  <label>Start Date</label>
                  <md-icon md-svg-src="" style="display:inline-block;"></md-icon>
                  <input ng-model="event.startdate" placeholder="Startdate" type="date" required>
                </md-input-container>
                <md-input-container>
                  <label>End Date</label>
                  <md-icon md-svg-src="" style="display:inline-block;"></md-icon>
                  <input ng-model="event.enddate" placeholder="Enddate" type="date"required>
                </md-input-container>
              </md-content>
            </div>
            <div layout layout-align="center center">
              <md-button class="md-warn md-raised md-hue-2" ng-click="createEvent()">Submit</md-button>
            </div>
            </md-card>
          </md-content>
        </md-tab>

        <md-tab label="Join Event" ng-init="getEvents()">
          <md-content class="md-padding">
            <h1 class="md-display-2">Join An Event</h1>
            <md-input-container>
              <input ng-model = 'search.category' type="text">
            </md-input-container>
            <p>All Event categories</p>

            <div class="md-padding" layout="row" layout-margin layout-fill layout-padding ng-repeat="event in events | filter: search:category">
            <md-card class="sized">
              <img ng-src="assets/images/events3.jpeg" class="md-card-image" alt="Washed Out">
              <md-card-content>
              <div class="md-list-item-text">
                <p>Event Title : {{event.title}}</p>
                <p>Descriptio: {{event.description}}</p>
                <p>Category: {{event.category}}</p>
                <p>Event Starts: {{event.startdate | date: mm:dd:yy}}</p>
                <p>Event Ends: {{event.enddate | date: mm:dd:yy}}</p>
                <div class="md-actions" layout="row" layout-align="end center">
                <md-button ng-click="joinEvent(event._id)">Join Event</md-button>
                </div>
              </div>
              </md-card-content>             
            </md-card>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
  </div>
</div>