<div ng-controller="EventCtrl">
  <md-toolbar class="md-theme-light" class="md-primary">
  <div class="md-toolbar-tools" class="md-actions" layout="row" layout-align="left">
    <h1 class="md-toolbar-tools">EVENTS PAGE</h1>
    <div class="md-actions" layout-align="center center">
      <a href = '#/home'>Home</a>
    </div>
  </div>
  </md-toolbar>

  <div class="tabsdemoDynamicHeight">
    <md-content class="md-padding">
      <md-tabs md-dynamic-height="" md-border-bottom="">
        <md-tab label="Welcome">
          <md-content class="md-padding">
            <h1 class="md-display-2">Welcome</h1>
            <p>Create your AWESOME events on EventHub or Join Events already created.</p>
          </md-content>
        </md-tab>

        <md-tab label="CREATE EVENT">
        <p class="md-display-2">To create an event fill the form below and CLICK on SUBMIT</p>
          <md-content class="md-padding" layout layout-align='center center'>
            
            <md-card flex='40'>
            <div layout="column" class="inputdemoIcons">
              <md-content layout-padding="" class="autoScroll">
                <md-input-container>
                  <md-icon md-svg-icon="" class="name"></md-icon>
                    <input ng-model="title" type="text" placeholder="Event Name/Title">
                </md-input-container>
                <md-input-container>
                  <md-icon md-svg-icon="" class="name"></md-icon>
                  <textarea ng-model="description" type="text" placeholder="What is the Event about"></textarea>
                </md-input-container>
                <md-input-container>
                  <md-icon md-svg-src="" ></md-icon>
                  <md-select name="categories" placeholder="Please select a category" ng-model="category" required="">
                    <md-option value="1">Party</md-option>
                    <md-option value="2">Conference</md-option>
                    <md-option value="2">Sports</md-option>
                    <md-option value="2">Religious</md-option>
                    <md-option value="2">Vacation</md-option>
                    <md-option value="2">Camping</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <md-icon md-svg-src=""></md-icon>
                  <input ng-model="Location" type="text" placeholder="Event Location">
                </md-input-container>
                <div layout="" layout-sm="column">
                  <md-input-container flex="">
                    <md-icon md-svg-src="" ></md-icon>
                    <label>City</label>
                    <input ng-model="city">
                  </md-input-container>
                  <md-input-container flex="">
                    <md-icon md-svg-src="" ></md-icon>
                    <label>State</label>
                    <input ng-model="state">
                  </md-input-container>
                  <md-input-container flex="">
                    <md-icon md-svg-src="" ></md-icon>
                    <label>Country</label>
                    <input ng-model="country">
                  </md-input-container>
                </div>
                <md-input-container md-no-float="" layout>
                  <label>Start Date</label>
                  <md-icon md-svg-src="" style="display:inline-block;"></md-icon>
                  <input ng-model="startdate" type="date" placeholder="Startdate">
                </md-input-container>
                <md-input-container>
                  <label>End Date</label>
                  <md-icon md-svg-src="" style="display:inline-block;"></md-icon>
                  <input ng-model="enddate" type="date" placeholder="Enddate">
                </md-input-container>
              </md-content>
            </div>
            <div layout layout-align="center center">
              <md-button class="md-warn md-raised md-hue-2">Submit</md-button>
            </div>
            </md-card>
          </md-content>
        </md-tab>

        <md-tab label="Join Event">
          <md-content class="md-padding">
            <h1 class="md-display-2">Join An Event</h1>
            <p>All Event Categories</p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>