<div ng-controller="EventCtrl">

  <div class="tabsdemoDynamicHeight">
    <md-content class="md-padding">
      <md-tabs md-dynamic-height="" md-border-bottom="">
        <md-tab label="CREATE EVENT" ng-if="isloggedin === true">
        <!-- <p>To create an event fill the form below and CLICK on SUBMIT</p> -->
          <md-content class="md-padding" layout layout-align='center center'>
            <md-card flex='40'>
            <div layout="column" class="inputdemoIcons">
              <md-content layout-padding="" class="autoScroll">
                <md-input-container>
                  <md-icon md-svg-icon="" class="name"></md-icon>
                    <input ng-model="event.title" type="text" placeholder="Event Name/Title" required>
                </md-input-container>
                <md-input-container md-no-float="">
                  <md-icon md-svg-icon="" class="name"></md-icon>
                  <textarea ng-model="event.description" rows="3" type="text" placeholder="What is the Event about"required></textarea>
                </md-input-container>
                <md-input-container>
                  <md-icon md-svg-src="" ></md-icon>
                  <md-select name="categories" placeholder="Please select a Category" ng-model="event.category" required>
                    <md-option value="Party">Party</md-option>
                    <md-option value="Conference">Conference</md-option>
                    <md-option value="Sports">Sports</md-option>
                    <md-option value="Religious">Religious</md-option>
                    <md-option value="SummerVacation">Summer Vacation</md-option>
                    <md-option value="Camping">Camping</md-option>
                    <md-option value="Reunion">Reunion</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <label>Location</label>
                  <md-icon md-svg-src=""></md-icon>
                  <input ng-model="event.location" type="text" placeholder="Event Location" required>
                </md-input-container>
                <md-input-container md-no-float="" layout>
                  <label>Start Date</label>
                  <md-icon md-svg-src="" style="display:inline-block;"></md-icon>
                  <input ng-model="event.startdate" placeholder="Startdate" type="date" required>
                </md-input-container>
                <md-input-container>
                  <label>End Date</label>
                  <md-icon md-svg-src="" style="display:inline-block;"></md-icon>
                  <input ng-model="event.enddate" placeholder="Enddate" type="date"required>
                </md-input-container>
              </md-content>
            </div>
            <div layout layout-align="center center">
              <md-button class="md-warn md-raised md-hue-2" ng-click="createEvent()">Create Event</md-button>
            </div>
            </md-card>
          </md-content>
        </md-tab>

        <md-tab label="Join Event" ng-init="getEvents()">
          <md-content class="md-padding">
            <md-input-container layout-sm="column">
              <input ng-model = 'search.category' type="text">
            </md-input-container>
              <div class="row">
                <h1 class="col-md-offset-5">Join An Event</h1>
                  <div class="col-md-3" ng-repeat="event in events | filter: search:category">
                    <div class="thumbnail">
                      <img src='/assets/images/events2.jpeg'>
                      <div class="caption">
                      <h3>Title: {{event.title}}</h3>
                      <p>Description: {{event.description}}</p>
                      <p>Location: {{event.location}}</p>
                      <p>Event Starts: {{event.startdate | friendlyDate}}</p>
                      <p>Event Ends: {{event.enddate | friendlyDate}}</p>
                      <p>
                        <a href="" class="btn btn-info" role="button" ng-click="joinEvent(event._id)">JOIN</a> 
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              </md-card-content>             
            </md-card>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
  </div>
</div>