
<div ng-controller = 'EventCtrl'>
  <md-content>
    <md-card>
      <img src="" height="300" width="500" class="md-card-image" alt="Picture here">
      <div class="md-actions" layout="row" layout-align="center center"><h2 class="md-title">EventHub</h2></div>
      <div class="md-actions" layout="row" layout-align="center center">
        <md-button class="md-warn md-raised md-hue-2">Login</md-button>
        <md-button class="md-warn md-raised md-hue-2" href="#/signup">Signup</md-button>
        <md-button class="md-warn md-raised md-hue-2" href="#/events">Events</md-button>
      </div>
    </md-card>
  </md-content>
</div>