
<div ng-controller = 'EventCtrl'>
    <md-content>
      <md-card>
        <img src="" height="300" width="500" class="md-card-image" alt="Washed Out">
        <md-card-content>
          <h2 class="md-title">EventHub</h2>
            <p>Welcome to the one-stop page for organising your events and sharing with friends.</p>
            <p>View Events below.</p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button class="md-raised">Login</md-button>
          <md-button>Signup</md-button>
        </div>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button>Create an Event</md-button>
          <md-button>Join an event</md-button>
        </div>
      </md-card>
    </md-card-content>
  </div>