
<div ng-controller="UserCtrl" layout layout-align="center center">
    <md-card flex='40'>
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools" class="md-actions" layout="row" layout-align="left">
          <h1 class="md-toolbar-tools">Log In</h1>
          <div class="md-actions" layout-align="center center">
            <a href = '#/home'>Home</a>
          </div>
        </div>
      </md-toolbar>
      <md-content layout-padding>
        <md-input-container md-no-float="">
          <md-icon md-svg-src="assets/images/ic_email_24px.svg" class="email"></md-icon>
          <input ng-model="user.email" type="email" placeholder="Email" ng-required="true">
        </md-input-container>
        <md-input-container md-no-float="">
          <md-icon md-svg-src="assets/images/ic_place_24px.svg" style="display:inline-block;"></md-icon>
          <input ng-model="user.address" type="text" placeholder="Password">
        </md-input-container>
        <div layout layout-align="center center">
          <md-button class="md-accent md-raised md-hue-1">Submit</md-button>
        </div>
      </md-content>
    </md-card>
</div>